html
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
  body
    div.container
      h1 Paperboy Report
      ul
        each item in items
          li
            div
              h4= item.data.title
              = item.data.text
              br
              a(href=item.data.link) See more
      nav.text-center
        ul.pagination
          if page > 1
            li
              a(href="/?page=" + (page - 1)) <
          li
            a(href="#")=page
          if total >= page * nbByPage
            li
              a(href="/?page=" + (page + 1)) >
